/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #0062e3;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background-color: #0062e3;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .Nav-logo {
    position: left;
    right: 0;
    bottom: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: none /*'#04AA6D' removed this to get rid of background colour on menu bar when active and gets rid of green on registration form. Changed to 'none'*/;
    color: grey;
  }

  h2 {
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 1rem;
    color: #0062e3;
  }

  .login container grid {
    margin-top: 10px;
  }

  p2 {
    padding: 14px 16px;
  }